<.header>New Task</.header>

<.simple_form :let={f} for={@changeset} as={:task} action={~p"/tasks"} method="post">
  <.input field={f[:title]} type="text" label="Title" required />
  <.input field={f[:description]} type="textarea" label="Description" />

  <:actions>
    <.button>Create Task</.button>
  </:actions>
</.simple_form>
